.discover-our-popular-course{
    width: 606px;
    height: 190px;
}
.font-size-h1{
    font-size: 45px;
}
.custom-height{
    max-height: 700px;
    width: 100%;
}
.bright
{

filter:brightness(50%);
}